<nav class="navbar navbar-toolbar user-show-bar" role="navigation">
  <div class="container-fluid">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group">
        <a href="#" class="btn btn-danger">NEW</a>
      </div>
      <div class="btn-group">
        <a href="#" class="btn btn-default">All</a>
        <a href="#" class="btn btn-default">Friends</a>
        <a href="#" class="btn btn-default">Family</a>
      </div>

      <div class="btn-group">
        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
          More <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Acquantances</a></li>
          <li><a href="#">Following</a></li>
        </ul>
      </div>

      <div class="btn-group pull-right">
        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">Dropdown header</li>
          <li>
            <a href="#">
              <i class="glyphicon glyphicon-bookmark"></i> Bookmark
            </a>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href="#"><i class="glyphicon glyphicon-download"></i> Download</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>