<div class="jumbotron">
	<div class="container" align="center">
		<h1>Snap and Move</h1>
		<h2>Redefining the Global Shopping experience.</h2>
		<% if !current_user %>
			<%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success' %>
			<%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %>
		<% else %>
			<%= link_to "Browse Shop", items_path, class: 'btn btn-success' %>
		<% end %>
		</div>
</div>

<div class="row">	
	<div class="col-md-6">
		<ul>
			 Snap and Move allows you to snap pictures of items you want to sell, set a price above and beyond the original shop price, and sell it online, all without ever having to do anything but snap and list! 
		</ul>
	</div>
	<div class="col-md-6">
		<ul>
			 Our fulfillment services ensure that your item gets where it needs to go as soon as possible, and you get paid. 
		</ul>
	</div>
		