<div class="container-fluid">
	<div class="jumbotron">
		<h1>Store and Move</h1>
		<p>Redefining the Global Shopping experience.</p>
		<%= link_to "Get Started", new_user_registration_path, class: 'btn btn-success' %>
	</div>
</div>
